<head>
  <link rel="stylesheet" href="/stylesheet/styleadds.css">
</head>

<div class="nav-search">
  <div class="navbar">
    <a class="active logo" href="/">ALUM</a>
    <section class="navitens">
      <a class="navitem" href="/allAds/all">Anúncios</a>
      <a class="navitem" href="/ads/auth/myAds">Meus Anúncios</a>
      <a class="navitem" href="/ads/auth/sells">Minhas Transações</a>
      {{!-- <a href="/ads/auth/myAds">Login | Registrar</a> --}}
      <a class="navitem" href="/user/auth/userEdit">Meus Dados</a>
      <a href="/user/auth/logout">Logout</a>
    </section>
  </div>
  {{!-- <h1 class="second-title">Meus Anúncios</h1> 
    <br> --}}
</div>

{{!-- fim menu --}}

<div class="tab">
  <input for="tab1" type="radio" name="tabs" id="tab1" checked>
  <label for="tab1">Meus Anúncios </label>

  <input for="tab2" type="radio" name="tabs" id="tab2">
  <label for="tab2">Adicionar Produto</label>

  <div class="tabs">
    

    {{!-- ANUNCIOS --}}

    <div class="content">

      <div class="addItem">

        <h2 class="itemform-titles">Meus Anúncios</h2>

        <div class="allAds">
          {{#each myAds}}
          {{> adsPartial this}}
          <a class="edit-button" href="myAdsEdit/{{_id}}">Edit</a> 
          <a class="edit-button" href="myAdsDel/{{_id}}">Delete</a>
          <br><br><br>
          {{/each}}
        </div>
      </div>
    </div>
    {{!-- fim  anuncio--}}

    
    {{!-- CADASTRO --}}
    <div class="content">

      <div class="addItem">
        <h2 class="itemform-titles">Cadastrar Produto</h2>

        <div class="container">

          <section class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">

              <form action="myAds" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">

                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Título do anúncio:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="title" id="title">
                  </div>
                </div> <!-- form-group // -->

                <div class="form-group">
                  <label for="price" class="col-sm-3 control-label">Preço:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="value" id="price">
                  </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Nome da escola:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="school" id="school">
                  </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                  <label for="about" class="col-sm-3 control-label">Descrição:</label>
                  <div class="col-sm-9">
                    <textarea name="description" class="form-control"></textarea>
                  </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                  <label for="tech" class="col-sm-3 control-label">Produto</label>
                  <div class="col-sm-3">
                    <select name="product" class="form-control">
                      <option value=""></option>
                      <option value="Uniforme">Uniforme</option>
                      <option value="Livro">Livro</option>
                      <option value="Outros">Outros</option>
                    </select>
                  </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                  <label for="tech" class="col-sm-3 control-label">Estado de uso</label>
                  <div class="col-sm-3">
                    <select name="tagState" class="form-control">
                      <option value=""></option>
                      <option value="Novo">Novo</option>
                      <option value="Usado">Usado</option>
                    </select>
                  </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Carregar Imagem</label>
                  <div class="col-sm-3">
                    <label class="img-charge" "control-label small" for="file_img">Formato (jpg/png):</label>
                    <input class="img-charge" type="file" name="imgPath">
                  </div>

                </div> <!-- form-group // -->
                <div class="form-group">
                  <label for="tech" class="col-sm-3 control-label">Ano escolar</label>
                  <div class="col-sm-3">
                    <select name="tagYear" class="form-control">
                      <option value=""></option>
                      <option value="1 ano">1 ano</option>
                      <option value="2 ano">2 ano</option>
                      <option value="3 ano">3 ano</option>
                      <option value="4 ano">4 ano</option>
                      <option value="5 ano">5 ano</option>
                      <option value="6 ano">6 ano</option>
                      <option value="7 ano">7 ano</option>
                      <option value="8 ano">8 ano</option>
                      <option value="9 ano">9 ano</option>
                      <option value="1 ano Medio">1 ano - médio</option>
                      <option value="2 ano Medio">2 ano - médio</option>
                      <option value="3 ano Medio">3 ano - médio</option>
                    </select>
                  </div>
                </div> <!-- form-group // -->
                      {{#if errorMessage}}
                      <div>{{ errorMessage }}</div>
                      {{/if}}
                <button type="submit" class="botao-entrar">Anunciar</button>
              </form>

            </div><!-- panel-body // -->
          </section><!-- panel// -->


        </div> <!-- container// -->
      </div>
    </div>

    {{!-- fim cadastro --}}

    {{!-- fim compras--}}
    {{#if errorMessage}}
    <div>{{ errorMessage }}</div>
    {{/if}}
  </div>
</div>