<div class="nav-search">
  <div class="navbar">
    <a class="active logo" href="/">ALUM</a>
    <section class="navitens">
      <a class="navitem" href="/allAds/all">Anúncios</a>
      <a class="navitem" href="/ads/auth/myAds">Meus Anúncios</a>
      {{!-- <a href="/ads/auth/myAds">Login | Registrar</a> --}}
      <a class="navitem" href="/user/auth/userEdit">Meus Dados</a>
      <a href="/user/auth/logout">Logout</a>
    </section>
  </div>
</div>

<h1>Pedido</h1>
<div>
  <form action="/order/auth/order?id={{id}}" method="POST">
    <div class="filterAds">
      {{#each filterAd}}
      {{> adsPartial this}}
      {{/each}}
    </div>
    <button type="submit">Confirmar Comprar</button>
    {{!-- <a href="/ads/auth/myAds?id={{_id}}">Confirmar Compra</a> --}}
  </form>
</div>