<head>
  <link rel="stylesheet" href="/stylesheet/styleadds.css">
</head>
<form action="/all" method="POST" enctype="multipart/form-data">

  <div class="nav-search">
    <div class="navbar">
      <a class="active logo" href="/">ALUM</a>
      <section class="navitens">
        <a class="navitem" href="/allAds/all">Anúncios</a>
        <a class="navitem" href="/ads/auth/myAds">Meus Anúncios</a>
        <a href="/ads/auth/myAds">Login | Registrar</a>
        {{!-- <a href="/user/auth/logout">Logout</a> --}}
        {{!-- <a class="navitem" href="/user/auth/userEdit">Editar conta</a> --}}
      </section>
    </div>
  </div>

  <div class="allAds">
    <h3 class="titulo-anuncio">Todos os Anúncios</h3>
    {{#each allAds}}
    {{> adsPartial this}}
    <a  class="buy-button"  href="../order/auth/order?id={{_id}}">Comprar</a>
    <br><br><br>
    {{/each}}
     {{#if errorMessage}}
    <div>{{ errorMessage }}</div>
    {{/if}}
  </div>
</form>