{{!-- <label for="text">Busca</label>
<select id=productsIndex placeholder="Selecione">
  <option></option>
  <option>Uniforme</option>
  <option>Livros</option>
  <option>Outros</option>
</select><br>

<div class="allAds">
  {{#each allAds}}
  {{> adsPartial this}}
  {{/each}}
</div> --}}

<div class="row">
  <div class="img-wrap-book column">
    <a href="#"> <img src="/images/books.jpg" alt="books" style="width:100%" class="img__img_book books">
      <p class="img__description">LIVROS</p>
    </a>
  </div>
  <div class="img-wrap-uni  column">
    <a href="#"><img src="/images/uniformes.jpg" alt="uniform" style="width:100%" class="img__img_uni unifo">
      <p class="img__description">UNIFORMES</p>
    </a>
  </div>
  <div class="img-wrap-mater column">
    <a href="#"><img src="/images/materiais.jpg" alt="material" style="width:100%" class="img__img_mater mater">
      <p class="img__description">MATERIAIS</p>
    </a>
  </div>
</div>