<div class="container">
  <nav>
    <div>
      <a href="/">Inicio</a>
      <a href="/login">Entrar</a>
      <a href="/auth/myads">Meus Anuncios</a>
      <a href="/create">Cadastrar-se</a>
      <label for="text">Busca</label>
      <select id=productsIndex placeholder="Selecione">
        <option>Uniforme</option>
        <option>Livros</option>
        <option>Outros</option>
      </select><br>
    </div>
  </nav>