{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inicio</title>
  <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>

<body>
  <div class="container">
    <nav>
      <div>
        <a href="/">Inicio</a>
        <a href="/login">Entrar</a>
        <a href="/ads/auth/myAds">Meus Anuncios</a>
        <a href="/user/user">Cadastrar-se</a>
      </div>
    </nav>

    <div class="content">
      {{{ body }}}
    </div>

    <footer>
      <p>Develop by Ironhackers ;)</p>
    </footer>

</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ALUM</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="topnav">
    <a class="active" href="/">ALUM</a>
    <a href="/allAds/all">Anúncios</a>
    <a href="/ads/auth/myAds">Minhas Trasações</a>
    <a href="/user/auth/logout">Logout</a>

    <div id="cover">
      <form method="get" action="/allAds" class="form-inline">
        <div class="tb"> {{!-- form-group --}}
          <div class="td"><input name="search" type="text" placeholder="O que você procura?"></div>
          {{!-- form-control --}}
          <div class="td" id="s-cover">
            <button type="submit">
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="topnav-right">
      <a href="/ads/auth/myAds">Minha Conta</a>
      <a href="/login">Login</a>
      <a href="/user/auth/userEdit">Editar Dados</a>
    </div>
  </div>

  <div class="content">
    {{{ body }}}
  </div>

  <footer>
    <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-icons-wrapper">
        <a href="#">Sobre</a><a href="">|</a>
        <a href="#">Termos de uso</a><a href="">|</a>
        <a href="#" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i
            class="fa fa-facebook"></i></a>
        <a href="#" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i
            class="fa fa-twitter"></i></a>
        <a href="#" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i
            class="fa fa-instagram"></i></a>
      </span>
    </section>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>