{{!-- <h1>Entrar</h1>

<form action="/login" method="POST">
  <label for="email">Seu e-mail</label><br>
  <input type="text" name="email" placeholder="exemplo@exemplo.com"><br>

  <label for="password">Senha</label><br>
  <input type="password" name="password" placeholder="********"><br>

  <button type="submit">Entrar</button><br>
  <p>Não tem uma conta? <a href="/user">Cadastrar-se</a></p>

  {{#if MessageEvent}}
  <div>{{ MessageEvent }}</div>
  {{/if}}
</form> --}}

  
  <div class="nav-search">
    <div class="navbar">
      <a class="active logo" href="/">ALUM</a>
      <section class="navitens">
        <a class="navitem" href="/allAds/all">Anúncios</a>
        <a class="navitem" href="/ads/auth/myAds">Meus Anúncios</a>
        <a href="/ads/auth/myAds">Login | Registrar</a>
        {{!-- <a href="/user/auth/logout">Logout</a> --}}
        {{!-- <a class="navitem" href="/user/auth/userEdit">Editar conta</a> --}}
      </section>
    </div>
  </div>

<div class="container-login">

  <h2><small>LOGIN</small></h2>

  <form action="/login" method="POST">

    <div class="group">
      <input class="email-input" type="" name="email" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="login-title" for="email">E-mail</label>
    </div>

    <div class="group">
      <input class="email-input" name="password" type="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="login-title" for="password" name="password">Senha</label>
    </div>

    {{#if MessageEvent}}
    <div>{{ MessageEvent }}</div>
    {{/if}}

    <button type="submit" class="botao-entrar">Entrar</button>
  </form>

</div>

<p class="footer-login">
  Não tem uma conta? <a href="/user">Cadastre-se</a>
</p>