{{!-- <h1>Cadastro</h1>
<form action="/user" method="POST">
  <label for="text">Nome</label> <br>
  <input type="text" name="name" placeholder="Nome"> <br>

  <label for="text">e-mail</label> <br>
  <input type="text" name="email" placeholder="exemplo@exemplo.com.br"> <br>

  <label for="password">Senha</label> <br>
  <input type="password" name="password" placeholder="********"> <br>

  <label for="password">Confirme sua Senha</label> <br>
  <input type="password" name="password2" placeholder="********"> <br>

  <label for="text">Endereço</label> <br>
  <input type="text" name="street" placeholder="Rua Exemplo"> <br>
  <input type="number" name="number" placeholder="1234"> <br>

  <input type="text" name="complement" placeholder="apto 123-A"> <br>

  <input type="text" name="neighborhood" placeholder="Bairro"> <br>

  <input type="text" name="city" placeholder="Cidade"> <br>

  <input type="number" name="zipCode" placeholder="00.000-000"> <br>

  {{#if errorMessage}}
  <div>{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Cadastrar</button>
</form> --}}

<div class="cadastro">
  <form action="/user" method="POST" id="msform">
    <fieldset>
      <h2 class="fs-title">Cadastro</h2>
      <input type="text" name="name" placeholder="Nome" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Senha" />
      <input type="password" name="password2" placeholder="Confirme a senha" />
      <input type="text" name="phone" placeholder="Telefone com DDD (ex: 1188547845)" />
      <textarea name="address"
        placeholder="Endereço (ex: Av.Paulista, 1283, apto 58 - Bela Vista. São Paulo-SP. CEP 01567894)"></textarea>

      {{#if errorMessage}}
      <div>{{ errorMessage }}</div>
      {{/if}}

      <input type="submit" name="submit" class="submit action-button" value="Enviar" />
    </fieldset>
  </form>
</div>