  <div class="nav-search">
    <div class="navbar">
      <a class="active logo" href="/">ALUM</a>
      <section class="navitens">
        <a class="navitem" href="/allAds/all">Anúncios</a>
        <a class="navitem" href="/ads/auth/myAds">Meus Anúncios</a>
        <a href="/ads/auth/myAds">Login | Registrar</a>
        {{!-- <a href="/user/auth/logout">Logout</a> --}}
        {{!-- <a class="navitem" href="/user/auth/userEdit">Editar conta</a> --}}
      </section>
    </div>
  </div>


<div class="cadastro">
  <form action="/user" method="POST" id="msform">
    <fieldset>
      <h2 class="fs-title">Cadastro</h2>
      <input type="text" name="name" placeholder="Nome" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Senha" />
      <input type="password" name="password2" placeholder="Confirme a senha" />
      <input type="text" name="phone" placeholder="Telefone com DDD (ex: 1188547845)" />
      <textarea name="address"
        placeholder="Endereço (ex: Av.Paulista, 1283, apto 58 - Bela Vista. São Paulo-SP. CEP 01567894)"></textarea>

      {{#if errorMessage}}
      <div>{{ errorMessage }}</div>
      {{/if}}

      <input type="submit" name="submit" class="submit action-button" value="Enviar" />
    </fieldset>
  </form>
</div>